{
  "openapi": "3.0.3",
  "info": {
    "title": "Ganger Platform API",
    "description": "Complete API documentation for all applications in the Ganger Platform",
    "version": "2.0.1",
    "contact": {
      "name": "Ganger Dermatology",
      "email": "tech@gangerdermatology.com"
    }
  },
  "servers": [
    {
      "url": "https://staff.gangerdermatology.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "googleOAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "openid": "OpenID Connect scope",
              "email": "Access user email",
              "profile": "Access user profile"
            }
          }
        },
        "description": "Google OAuth 2.0 authentication for staff.gangerdermatology.com users"
      },
      "supabaseAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT authentication token"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Access token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Not found"
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Internal server error"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/ai-purchasing-agent/analytics": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/analytics",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_analytics",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ai-purchasing-agent/cart-interceptor": {
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/cart-interceptor",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_cart_interceptor",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/contracts": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/contracts",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_contracts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/contracts",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_contracts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/health": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/health",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_health",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ai-purchasing-agent/price-comparison": {
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/price-comparison",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_price_comparison",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/products": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/products",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_products",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/products",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_products",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/products/{id}": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/products/{id}",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_products__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "PATCH /ai-purchasing-agent/products/{id}",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_PATCH__ai_purchasing_agent_products__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "DELETE /ai-purchasing-agent/products/{id}",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_DELETE__ai_purchasing_agent_products__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ai-purchasing-agent/purchase-requests": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/purchase-requests",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_purchase_requests",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/purchase-requests",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_purchase_requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "PUT /ai-purchasing-agent/purchase-requests",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_PUT__ai_purchasing_agent_purchase_requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/purchase-requests/{id}/analyze": {
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/purchase-requests/{id}/analyze",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_purchase_requests__id__analyze",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/purchase-requests/{id}/approve": {
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/purchase-requests/{id}/approve",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_purchase_requests__id__approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/recommendations": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/recommendations",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_recommendations",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ai-purchasing-agent/vendors": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/vendors",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_vendors",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "POST /ai-purchasing-agent/vendors",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_POST__ai_purchasing_agent_vendors",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/ai-purchasing-agent/vendors/{id}": {
      "get": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "GET /ai-purchasing-agent/vendors/{id}",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_GET__ai_purchasing_agent_vendors__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "PATCH /ai-purchasing-agent/vendors/{id}",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_PATCH__ai_purchasing_agent_vendors__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ai-purchasing-agent"
        ],
        "summary": "DELETE /ai-purchasing-agent/vendors/{id}",
        "description": "Endpoint in ai-purchasing-agent application",
        "operationId": "ai-purchasing-agent_DELETE__ai_purchasing_agent_vendors__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/batch-closeout/health": {
      "get": {
        "tags": [
          "batch-closeout"
        ],
        "summary": "GET /batch-closeout/health",
        "description": "Endpoint in batch-closeout application",
        "operationId": "batch-closeout_GET__batch_closeout_health",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "batch-closeout"
        ],
        "summary": "POST /batch-closeout/health",
        "description": "Endpoint in batch-closeout application",
        "operationId": "batch-closeout_POST__batch_closeout_health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/call-center-ops/health": {
      "get": {
        "tags": [
          "call-center-ops"
        ],
        "summary": "GET /call-center-ops/health",
        "description": "Endpoint in call-center-ops application",
        "operationId": "call-center-ops_GET__call_center_ops_health",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "call-center-ops"
        ],
        "summary": "POST /call-center-ops/health",
        "description": "Endpoint in call-center-ops application",
        "operationId": "call-center-ops_POST__call_center_ops_health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/checkin-kiosk/health": {
      "get": {
        "tags": [
          "checkin-kiosk"
        ],
        "summary": "GET /checkin-kiosk/health",
        "description": "Endpoint in checkin-kiosk application",
        "operationId": "checkin-kiosk_GET__checkin_kiosk_health",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "checkin-kiosk"
        ],
        "summary": "POST /checkin-kiosk/health",
        "description": "Endpoint in checkin-kiosk application",
        "operationId": "checkin-kiosk_POST__checkin_kiosk_health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/checkin-kiosk/payments/create-intent": {
      "get": {
        "tags": [
          "checkin-kiosk"
        ],
        "summary": "GET /checkin-kiosk/payments/create-intent",
        "description": "Endpoint in checkin-kiosk application",
        "operationId": "checkin-kiosk_GET__checkin_kiosk_payments_create_intent",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "checkin-kiosk"
        ],
        "summary": "POST /checkin-kiosk/payments/create-intent",
        "description": "Endpoint in checkin-kiosk application",
        "operationId": "checkin-kiosk_POST__checkin_kiosk_payments_create_intent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/clinical-staffing/analytics/staffing": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/analytics/staffing",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_analytics_staffing",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      }
    },
    "/clinical-staffing/health": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/health",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_health",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/clinical-staffing/locations": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/locations",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_locations",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/locations",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_locations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "PUT /clinical-staffing/locations",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_PUT__clinical_staffing_locations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "DELETE /clinical-staffing/locations",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_DELETE__clinical_staffing_locations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      }
    },
    "/clinical-staffing/optimization/suggestions": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/optimization/suggestions",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_optimization_suggestions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/optimization/suggestions",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_optimization_suggestions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/clinical-staffing/providers": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/providers",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_providers",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/providers",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_providers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "PUT /clinical-staffing/providers",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_PUT__clinical_staffing_providers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "DELETE /clinical-staffing/providers",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_DELETE__clinical_staffing_providers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      }
    },
    "/clinical-staffing/staff-members": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/staff-members",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_staff_members",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/staff-members",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_staff_members",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "PUT /clinical-staffing/staff-members",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_PUT__clinical_staffing_staff_members",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "DELETE /clinical-staffing/staff-members",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_DELETE__clinical_staffing_staff_members",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      }
    },
    "/clinical-staffing/staff-members/{id}/availability": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/staff-members/{id}/availability",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_staff_members__id__availability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "PUT /clinical-staffing/staff-members/{id}/availability",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_PUT__clinical_staffing_staff_members__id__availability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/staff-members/{id}/availability",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_staff_members__id__availability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/clinical-staffing/staff-schedules": {
      "get": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "GET /clinical-staffing/staff-schedules",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_GET__clinical_staffing_staff_schedules",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/staff-schedules",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_staff_schedules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "PUT /clinical-staffing/staff-schedules",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_PUT__clinical_staffing_staff_schedules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "DELETE /clinical-staffing/staff-schedules",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_DELETE__clinical_staffing_staff_schedules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ]
      }
    },
    "/clinical-staffing/staffing/auto-assign": {
      "post": {
        "tags": [
          "clinical-staffing"
        ],
        "summary": "POST /clinical-staffing/staffing/auto-assign",
        "description": "Endpoint in clinical-staffing application",
        "operationId": "clinical-staffing_POST__clinical_staffing_staffing_auto_assign",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/compliance/__tests__/sync-google-users.test": {},
    "/compliance-training/compliance/cleanup-terminated": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/compliance/cleanup-terminated",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_compliance_cleanup_terminated",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          },
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/compliance/cleanup-terminated",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_compliance_cleanup_terminated",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          },
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/compliance/dashboard": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/compliance/dashboard",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_compliance_dashboard",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/compliance/dashboard",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_compliance_dashboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/compliance/employee/{id}": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/compliance/employee/{id}",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_compliance_employee__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/compliance/employee/{id}",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_compliance_employee__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/compliance/export": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/compliance/export",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_compliance_export",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/compliance/export",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_compliance_export",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/compliance/sync": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/compliance/sync",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_compliance_sync",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/compliance/sync",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_compliance_sync",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/compliance/sync-google-users": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/compliance/sync-google-users",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_compliance_sync_google_users",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          },
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/compliance/sync-google-users",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_compliance_sync_google_users",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "googleOAuth": []
          },
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/health": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/health",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_health",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/compliance-training/monitoring/metrics": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/monitoring/metrics",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_monitoring_metrics",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/monitoring/metrics",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_monitoring_metrics",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/socials/content/adapt": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/socials/content/adapt",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_socials_content_adapt",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/socials/content/adapt",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_socials_content_adapt",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request structure varies by endpoint"
              }
            }
          }
        }
      }
    },
    "/compliance-training/socials/reviews": {
      "get": {
        "tags": [
          "compliance-training"
        ],
        "summary": "GET /compliance-training/socials/reviews",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_GET__compliance_training_socials_reviews",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Query parameters vary by endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "compliance-training"
        ],
        "summary": "POST /compliance-training/socials/reviews",
        "description": "Endpoint in compliance-training application",
        "operationId": "compliance-training_POST__compliance_training_socials_reviews",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response structure varies by endpoint"
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
