openapi: 3.0.3
info:
  title: Ganger Platform API
  description: Complete API documentation for all applications in the Ganger Platform
  version: 2.0.1
  contact:
    name: Ganger Dermatology
    email: tech@gangerdermatology.com
servers:
  - url: https://staff.gangerdermatology.com
    description: Production server
  - url: http://localhost:3000
    description: Development server
components:
  securitySchemes:
    googleOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            openid: OpenID Connect scope
            email: Access user email
            profile: Access user profile
      description: Google OAuth 2.0 authentication for staff.gangerdermatology.com users
    supabaseAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT authentication token
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Unauthorized
    NotFoundError:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Not found
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Internal server error
paths:
  /ai-purchasing-agent/analytics:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/analytics
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_analytics
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
  /ai-purchasing-agent/cart-interceptor:
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/cart-interceptor
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_POST__ai_purchasing_agent_cart_interceptor
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/contracts:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/contracts
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_contracts
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_0
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/contracts
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_POST__ai_purchasing_agent_contracts
      parameters: []
      responses: *ref_0
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/health:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/health
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
  /ai-purchasing-agent/price-comparison:
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/price-comparison
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_POST__ai_purchasing_agent_price_comparison
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/products:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/products
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_products
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_1
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/products
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_POST__ai_purchasing_agent_products
      parameters: []
      responses: *ref_1
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/products/{id}:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/products/{id}
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_products__id_
      parameters:
        - &ref_2
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_3
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - ai-purchasing-agent
      summary: PATCH /ai-purchasing-agent/products/{id}
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_PATCH__ai_purchasing_agent_products__id_
      parameters:
        - *ref_2
      responses: *ref_3
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - ai-purchasing-agent
      summary: DELETE /ai-purchasing-agent/products/{id}
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_DELETE__ai_purchasing_agent_products__id_
      parameters:
        - *ref_2
      responses: *ref_3
  /ai-purchasing-agent/purchase-requests:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/purchase-requests
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_purchase_requests
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_4
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/purchase-requests
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_POST__ai_purchasing_agent_purchase_requests
      parameters: []
      responses: *ref_4
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    put:
      tags:
        - ai-purchasing-agent
      summary: PUT /ai-purchasing-agent/purchase-requests
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_PUT__ai_purchasing_agent_purchase_requests
      parameters: []
      responses: *ref_4
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/purchase-requests/{id}/analyze:
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/purchase-requests/{id}/analyze
      description: Endpoint in ai-purchasing-agent application
      operationId: >-
        ai-purchasing-agent_POST__ai_purchasing_agent_purchase_requests__id__analyze
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - supabaseAuth: []
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/purchase-requests/{id}/approve:
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/purchase-requests/{id}/approve
      description: Endpoint in ai-purchasing-agent application
      operationId: >-
        ai-purchasing-agent_POST__ai_purchasing_agent_purchase_requests__id__approve
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/recommendations:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/recommendations
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_recommendations
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
  /ai-purchasing-agent/vendors:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/vendors
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_vendors
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_5
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - ai-purchasing-agent
      summary: POST /ai-purchasing-agent/vendors
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_POST__ai_purchasing_agent_vendors
      parameters: []
      responses: *ref_5
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ai-purchasing-agent/vendors/{id}:
    get:
      tags:
        - ai-purchasing-agent
      summary: GET /ai-purchasing-agent/vendors/{id}
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_GET__ai_purchasing_agent_vendors__id_
      parameters:
        - &ref_6
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_7
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - ai-purchasing-agent
      summary: PATCH /ai-purchasing-agent/vendors/{id}
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_PATCH__ai_purchasing_agent_vendors__id_
      parameters:
        - *ref_6
      responses: *ref_7
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - ai-purchasing-agent
      summary: DELETE /ai-purchasing-agent/vendors/{id}
      description: Endpoint in ai-purchasing-agent application
      operationId: ai-purchasing-agent_DELETE__ai_purchasing_agent_vendors__id_
      parameters:
        - *ref_6
      responses: *ref_7
  /batch-closeout/health:
    get:
      tags:
        - batch-closeout
      summary: GET /batch-closeout/health
      description: Endpoint in batch-closeout application
      operationId: batch-closeout_GET__batch_closeout_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_8
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - batch-closeout
      summary: POST /batch-closeout/health
      description: Endpoint in batch-closeout application
      operationId: batch-closeout_POST__batch_closeout_health
      parameters: []
      responses: *ref_8
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /call-center-ops/health:
    get:
      tags:
        - call-center-ops
      summary: GET /call-center-ops/health
      description: Endpoint in call-center-ops application
      operationId: call-center-ops_GET__call_center_ops_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_9
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - call-center-ops
      summary: POST /call-center-ops/health
      description: Endpoint in call-center-ops application
      operationId: call-center-ops_POST__call_center_ops_health
      parameters: []
      responses: *ref_9
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /checkin-kiosk/health:
    get:
      tags:
        - checkin-kiosk
      summary: GET /checkin-kiosk/health
      description: Endpoint in checkin-kiosk application
      operationId: checkin-kiosk_GET__checkin_kiosk_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_10
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - checkin-kiosk
      summary: POST /checkin-kiosk/health
      description: Endpoint in checkin-kiosk application
      operationId: checkin-kiosk_POST__checkin_kiosk_health
      parameters: []
      responses: *ref_10
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /checkin-kiosk/payments/create-intent:
    get:
      tags:
        - checkin-kiosk
      summary: GET /checkin-kiosk/payments/create-intent
      description: Endpoint in checkin-kiosk application
      operationId: checkin-kiosk_GET__checkin_kiosk_payments_create_intent
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_11
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_12
        - supabaseAuth: []
    post:
      tags:
        - checkin-kiosk
      summary: POST /checkin-kiosk/payments/create-intent
      description: Endpoint in checkin-kiosk application
      operationId: checkin-kiosk_POST__checkin_kiosk_payments_create_intent
      parameters: []
      responses: *ref_11
      security: *ref_12
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /clinical-staffing/analytics/staffing:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/analytics/staffing
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_analytics_staffing
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - googleOAuth: []
  /clinical-staffing/health:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/health
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
  /clinical-staffing/locations:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/locations
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_locations
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_13
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_14
        - googleOAuth: []
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/locations
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_POST__clinical_staffing_locations
      parameters: []
      responses: *ref_13
      security: *ref_14
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    put:
      tags:
        - clinical-staffing
      summary: PUT /clinical-staffing/locations
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_PUT__clinical_staffing_locations
      parameters: []
      responses: *ref_13
      security: *ref_14
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - clinical-staffing
      summary: DELETE /clinical-staffing/locations
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_DELETE__clinical_staffing_locations
      parameters: []
      responses: *ref_13
      security: *ref_14
  /clinical-staffing/optimization/suggestions:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/optimization/suggestions
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_optimization_suggestions
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_15
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_16
        - googleOAuth: []
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/optimization/suggestions
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_POST__clinical_staffing_optimization_suggestions
      parameters: []
      responses: *ref_15
      security: *ref_16
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /clinical-staffing/providers:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/providers
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_providers
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_17
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_18
        - googleOAuth: []
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/providers
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_POST__clinical_staffing_providers
      parameters: []
      responses: *ref_17
      security: *ref_18
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    put:
      tags:
        - clinical-staffing
      summary: PUT /clinical-staffing/providers
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_PUT__clinical_staffing_providers
      parameters: []
      responses: *ref_17
      security: *ref_18
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - clinical-staffing
      summary: DELETE /clinical-staffing/providers
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_DELETE__clinical_staffing_providers
      parameters: []
      responses: *ref_17
      security: *ref_18
  /clinical-staffing/staff-members:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/staff-members
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_staff_members
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_19
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_20
        - googleOAuth: []
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/staff-members
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_POST__clinical_staffing_staff_members
      parameters: []
      responses: *ref_19
      security: *ref_20
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    put:
      tags:
        - clinical-staffing
      summary: PUT /clinical-staffing/staff-members
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_PUT__clinical_staffing_staff_members
      parameters: []
      responses: *ref_19
      security: *ref_20
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - clinical-staffing
      summary: DELETE /clinical-staffing/staff-members
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_DELETE__clinical_staffing_staff_members
      parameters: []
      responses: *ref_19
      security: *ref_20
  /clinical-staffing/staff-members/{id}/availability:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/staff-members/{id}/availability
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_staff_members__id__availability
      parameters:
        - &ref_21
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_22
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_23
        - googleOAuth: []
    put:
      tags:
        - clinical-staffing
      summary: PUT /clinical-staffing/staff-members/{id}/availability
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_PUT__clinical_staffing_staff_members__id__availability
      parameters:
        - *ref_21
      responses: *ref_22
      security: *ref_23
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/staff-members/{id}/availability
      description: Endpoint in clinical-staffing application
      operationId: >-
        clinical-staffing_POST__clinical_staffing_staff_members__id__availability
      parameters:
        - *ref_21
      responses: *ref_22
      security: *ref_23
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /clinical-staffing/staff-schedules:
    get:
      tags:
        - clinical-staffing
      summary: GET /clinical-staffing/staff-schedules
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_GET__clinical_staffing_staff_schedules
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_24
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_25
        - googleOAuth: []
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/staff-schedules
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_POST__clinical_staffing_staff_schedules
      parameters: []
      responses: *ref_24
      security: *ref_25
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    put:
      tags:
        - clinical-staffing
      summary: PUT /clinical-staffing/staff-schedules
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_PUT__clinical_staffing_staff_schedules
      parameters: []
      responses: *ref_24
      security: *ref_25
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - clinical-staffing
      summary: DELETE /clinical-staffing/staff-schedules
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_DELETE__clinical_staffing_staff_schedules
      parameters: []
      responses: *ref_24
      security: *ref_25
  /clinical-staffing/staffing/auto-assign:
    post:
      tags:
        - clinical-staffing
      summary: POST /clinical-staffing/staffing/auto-assign
      description: Endpoint in clinical-staffing application
      operationId: clinical-staffing_POST__clinical_staffing_staffing_auto_assign
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - googleOAuth: []
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/compliance/__tests__/sync-google-users.test: {}
  /compliance-training/compliance/cleanup-terminated:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/compliance/cleanup-terminated
      description: Endpoint in compliance-training application
      operationId: >-
        compliance-training_GET__compliance_training_compliance_cleanup_terminated
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_26
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_27
        - googleOAuth: []
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/compliance/cleanup-terminated
      description: Endpoint in compliance-training application
      operationId: >-
        compliance-training_POST__compliance_training_compliance_cleanup_terminated
      parameters: []
      responses: *ref_26
      security: *ref_27
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/compliance/dashboard:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/compliance/dashboard
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_compliance_dashboard
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_28
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_29
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/compliance/dashboard
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_compliance_dashboard
      parameters: []
      responses: *ref_28
      security: *ref_29
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/compliance/employee/{id}:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/compliance/employee/{id}
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_compliance_employee__id_
      parameters:
        - &ref_30
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_31
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_32
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/compliance/employee/{id}
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_compliance_employee__id_
      parameters:
        - *ref_30
      responses: *ref_31
      security: *ref_32
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/compliance/export:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/compliance/export
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_compliance_export
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_33
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_34
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/compliance/export
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_compliance_export
      parameters: []
      responses: *ref_33
      security: *ref_34
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/compliance/sync:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/compliance/sync
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_compliance_sync
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_35
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_36
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/compliance/sync
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_compliance_sync
      parameters: []
      responses: *ref_35
      security: *ref_36
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/compliance/sync-google-users:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/compliance/sync-google-users
      description: Endpoint in compliance-training application
      operationId: >-
        compliance-training_GET__compliance_training_compliance_sync_google_users
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_37
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_38
        - googleOAuth: []
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/compliance/sync-google-users
      description: Endpoint in compliance-training application
      operationId: >-
        compliance-training_POST__compliance_training_compliance_sync_google_users
      parameters: []
      responses: *ref_37
      security: *ref_38
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/health:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/health
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
  /compliance-training/monitoring/metrics:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/monitoring/metrics
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_monitoring_metrics
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_39
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_40
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/monitoring/metrics
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_monitoring_metrics
      parameters: []
      responses: *ref_39
      security: *ref_40
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/socials/content/adapt:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/socials/content/adapt
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_socials_content_adapt
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_41
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_42
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/socials/content/adapt
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_socials_content_adapt
      parameters: []
      responses: *ref_41
      security: *ref_42
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/socials/reviews:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/socials/reviews
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_socials_reviews
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_43
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_44
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/socials/reviews
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_socials_reviews
      parameters: []
      responses: *ref_43
      security: *ref_44
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/socials/reviews/generate-response:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/socials/reviews/generate-response
      description: Endpoint in compliance-training application
      operationId: >-
        compliance-training_GET__compliance_training_socials_reviews_generate_response
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_45
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_46
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/socials/reviews/generate-response
      description: Endpoint in compliance-training application
      operationId: >-
        compliance-training_POST__compliance_training_socials_reviews_generate_response
      parameters: []
      responses: *ref_45
      security: *ref_46
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /compliance-training/socials/trending:
    get:
      tags:
        - compliance-training
      summary: GET /compliance-training/socials/trending
      description: Endpoint in compliance-training application
      operationId: compliance-training_GET__compliance_training_socials_trending
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_47
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_48
        - supabaseAuth: []
    post:
      tags:
        - compliance-training
      summary: POST /compliance-training/socials/trending
      description: Endpoint in compliance-training application
      operationId: compliance-training_POST__compliance_training_socials_trending
      parameters: []
      responses: *ref_47
      security: *ref_48
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/applications:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/applications
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_applications
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_49
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_50
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/applications
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_applications
      parameters: []
      responses: *ref_49
      security: *ref_50
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/applications/{id}:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/applications/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_applications__id_
      parameters:
        - &ref_51
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_52
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_53
        - supabaseAuth: []
    put:
      tags:
        - config-dashboard
      summary: PUT /config-dashboard/applications/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_PUT__config_dashboard_applications__id_
      parameters:
        - *ref_51
      responses: *ref_52
      security: *ref_53
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - config-dashboard
      summary: DELETE /config-dashboard/applications/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_DELETE__config_dashboard_applications__id_
      parameters:
        - *ref_51
      responses: *ref_52
      security: *ref_53
  /config-dashboard/approval/pending:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/approval/pending
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_approval_pending
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_54
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_55
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/approval/pending
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_approval_pending
      parameters: []
      responses: *ref_54
      security: *ref_55
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/approval/{id}/approve:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/approval/{id}/approve
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_approval__id__approve
      parameters:
        - &ref_56
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_57
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_58
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/approval/{id}/approve
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_approval__id__approve
      parameters:
        - *ref_56
      responses: *ref_57
      security: *ref_58
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/approval/{id}/reject:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/approval/{id}/reject
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_approval__id__reject
      parameters:
        - &ref_59
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_60
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_61
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/approval/{id}/reject
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_approval__id__reject
      parameters:
        - *ref_59
      responses: *ref_60
      security: *ref_61
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/audit-logs:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/audit-logs
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_audit_logs
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_62
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_63
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/audit-logs
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_audit_logs
      parameters: []
      responses: *ref_62
      security: *ref_63
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/configurations:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/configurations
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_configurations
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_64
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_65
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/configurations
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_configurations
      parameters: []
      responses: *ref_64
      security: *ref_65
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/configurations/{id}:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/configurations/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_configurations__id_
      parameters:
        - &ref_66
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_67
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_68
        - supabaseAuth: []
    put:
      tags:
        - config-dashboard
      summary: PUT /config-dashboard/configurations/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_PUT__config_dashboard_configurations__id_
      parameters:
        - *ref_66
      responses: *ref_67
      security: *ref_68
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - config-dashboard
      summary: DELETE /config-dashboard/configurations/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_DELETE__config_dashboard_configurations__id_
      parameters:
        - *ref_66
      responses: *ref_67
      security: *ref_68
  /config-dashboard/health:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/health
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_69
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_70
        - googleOAuth: []
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/health
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_health
      parameters: []
      responses: *ref_69
      security: *ref_70
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/impersonation/end:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/impersonation/end
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_impersonation_end
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_71
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_72
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/impersonation/end
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_impersonation_end
      parameters: []
      responses: *ref_71
      security: *ref_72
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/impersonation/start:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/impersonation/start
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_impersonation_start
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_73
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_74
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/impersonation/start
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_impersonation_start
      parameters: []
      responses: *ref_73
      security: *ref_74
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/impersonation/status:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/impersonation/status
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_impersonation_status
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_75
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_76
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/impersonation/status
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_impersonation_status
      parameters: []
      responses: *ref_75
      security: *ref_76
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/metrics:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/metrics
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_metrics
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_77
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_78
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/metrics
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_metrics
      parameters: []
      responses: *ref_77
      security: *ref_78
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/permissions:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/permissions
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_permissions
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_79
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_80
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/permissions
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_permissions
      parameters: []
      responses: *ref_79
      security: *ref_80
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /config-dashboard/permissions/{id}:
    get:
      tags:
        - config-dashboard
      summary: GET /config-dashboard/permissions/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_GET__config_dashboard_permissions__id_
      parameters:
        - &ref_81
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_82
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_83
        - supabaseAuth: []
    post:
      tags:
        - config-dashboard
      summary: POST /config-dashboard/permissions/{id}
      description: Endpoint in config-dashboard application
      operationId: config-dashboard_POST__config_dashboard_permissions__id_
      parameters:
        - *ref_81
      responses: *ref_82
      security: *ref_83
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /consolidated-order-form/health:
    get:
      tags:
        - consolidated-order-form
      summary: GET /consolidated-order-form/health
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_GET__consolidated_order_form_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
  /consolidated-order-form/orders:
    post:
      tags:
        - consolidated-order-form
      summary: POST /consolidated-order-form/orders
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_POST__consolidated_order_form_orders
      parameters: []
      responses: &ref_84
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    get:
      tags:
        - consolidated-order-form
      summary: GET /consolidated-order-form/orders
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_GET__consolidated_order_form_orders
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: *ref_84
  /consolidated-order-form/orders/{id}:
    get:
      tags:
        - consolidated-order-form
      summary: GET /consolidated-order-form/orders/{id}
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_GET__consolidated_order_form_orders__id_
      parameters:
        - &ref_85
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_86
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - consolidated-order-form
      summary: PATCH /consolidated-order-form/orders/{id}
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_PATCH__consolidated_order_form_orders__id_
      parameters:
        - *ref_85
      responses: *ref_86
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
    delete:
      tags:
        - consolidated-order-form
      summary: DELETE /consolidated-order-form/orders/{id}
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_DELETE__consolidated_order_form_orders__id_
      parameters:
        - *ref_85
      responses: *ref_86
  /consolidated-order-form/orders/{id}/submit:
    post:
      tags:
        - consolidated-order-form
      summary: POST /consolidated-order-form/orders/{id}/submit
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_POST__consolidated_order_form_orders__id__submit
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /consolidated-order-form/products:
    get:
      tags:
        - consolidated-order-form
      summary: GET /consolidated-order-form/products
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_GET__consolidated_order_form_products
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_87
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - consolidated-order-form
      summary: POST /consolidated-order-form/products
      description: Endpoint in consolidated-order-form application
      operationId: consolidated-order-form_POST__consolidated_order_form_products
      parameters: []
      responses: *ref_87
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /eos-l10/auth/google:
    get:
      tags:
        - eos-l10
      summary: GET /eos-l10/auth/google
      description: Endpoint in eos-l10 application
      operationId: eos-l10_GET__eos_l10_auth_google
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_88
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_89
        - googleOAuth: []
        - supabaseAuth: []
    post:
      tags:
        - eos-l10
      summary: POST /eos-l10/auth/google
      description: Endpoint in eos-l10 application
      operationId: eos-l10_POST__eos_l10_auth_google
      parameters: []
      responses: *ref_88
      security: *ref_89
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /eos-l10/health:
    get:
      tags:
        - eos-l10
      summary: GET /eos-l10/health
      description: Endpoint in eos-l10 application
      operationId: eos-l10_GET__eos_l10_health
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_90
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - eos-l10
      summary: POST /eos-l10/health
      description: Endpoint in eos-l10 application
      operationId: eos-l10_POST__eos_l10_health
      parameters: []
      responses: *ref_90
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /eos-l10/scorecard/entries:
    get:
      tags:
        - eos-l10
      summary: GET /eos-l10/scorecard/entries
      description: Endpoint in eos-l10 application
      operationId: eos-l10_GET__eos_l10_scorecard_entries
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_91
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_92
        - supabaseAuth: []
    post:
      tags:
        - eos-l10
      summary: POST /eos-l10/scorecard/entries
      description: Endpoint in eos-l10 application
      operationId: eos-l10_POST__eos_l10_scorecard_entries
      parameters: []
      responses: *ref_91
      security: *ref_92
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ganger-actions/admin/google-sync:
    get:
      tags:
        - ganger-actions
      summary: GET /ganger-actions/admin/google-sync
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_GET__ganger_actions_admin_google_sync
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_93
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_94
        - supabaseAuth: []
    post:
      tags:
        - ganger-actions
      summary: POST /ganger-actions/admin/google-sync
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_POST__ganger_actions_admin_google_sync
      parameters: []
      responses: *ref_93
      security: *ref_94
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ganger-actions/attachments:
    get:
      tags:
        - ganger-actions
      summary: GET /ganger-actions/attachments
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_GET__ganger_actions_attachments
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_95
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_96
        - supabaseAuth: []
    post:
      tags:
        - ganger-actions
      summary: POST /ganger-actions/attachments
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_POST__ganger_actions_attachments
      parameters: []
      responses: *ref_95
      security: *ref_96
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request structure varies by endpoint
  /ganger-actions/attachments/{id}:
    get:
      tags:
        - ganger-actions
      summary: GET /ganger-actions/attachments/{id}
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_GET__ganger_actions_attachments__id_
      parameters:
        - &ref_97
          name: id
          in: path
          required: true
          schema:
            type: string
          description: The id parameter
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_98
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response structure varies by endpoint
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: &ref_99
        - supabaseAuth: []
    delete:
      tags:
        - ganger-actions
      summary: DELETE /ganger-actions/attachments/{id}
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_DELETE__ganger_actions_attachments__id_
      parameters:
        - *ref_97
      responses: *ref_98
      security: *ref_99
  /ganger-actions/comments:
    get:
      tags:
        - ganger-actions
      summary: GET /ganger-actions/comments
      description: Endpoint in ganger-actions application
      operationId: ganger-actions_GET__ganger_actions_comments
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: object
          description: Query parameters vary by endpoint
      responses: &ref_100
        '200':
          description: Successful response
          content:
[...]
